a{
    text-decoration: none;
    color: #ffffff;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.main_wrapper{
    width: 1112px;
    margin: 0 auto;
}

.banners_container{
    display: flex;
    padding-top: 29px;
    width: 1112px;
    margin: 0 auto;

}

.main_banner{
    height: 494px;
    width: 532px;
    border-radius: 6px;
    position: relative;

}

.main_banner__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(359.58deg, rgba(0, 0, 0, 0.8) 0.34%, rgba(255, 51, 149, 0) 80.25%);
    bottom: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.main_banner__container{
    position: absolute;
    bottom: 30px;
    padding-left: 40px;

    font-size: 23px;
    width: 330px;
    line-height: 1.45;
    z-index: 2;
    text-transform: uppercase;
}

.middle_banners__square_container{
    position: relative;
    font-weight: bold;
    font-style: normal;
    font-size: 21px;
    cursor: pointer;
}

.middle_banners__description{
    position: absolute;
    bottom: 17px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    z-index:1;
}

.youtobe_banner__description{
    position: absolute;
    bottom: 17px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    z-index:1;
}

.middle_banner__overlay{
    width: 100%;
    position: absolute;
    height: 100%;
    bottom: 0;
    background: linear-gradient(359.58deg, rgba(0, 0, 0, 0.8) 0.34%, rgba(255, 51, 149, 0) 80.25%);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    pointer-events: none;
}

.square__first{
    margin-top: -18px;
}

.square__second{
    margin-top: -21px;
}



.main_banner img{
    margin-top: -43px;
}

.main_banner__description{
    font-weight: bold;
}

.main_banner__btn{
    width: 245px;
    height: 48px;
    background: #F10000;
    border-radius: 105px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:21px;
    font-style: normal;
    margin-top: 10px;
}

.middle_banners__container{
    display: flex;
    flex-wrap: wrap;
    width: 580px;
}

.middle_banners__square{
    width: 280px;
    height: 238px;
    background: green;
    margin-left: 10px;
    border-radius: 6px;
}

.middle_banners__youtobe{
    width: 100%;
    height: 0;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 6px;
    padding-bottom: 42%;
    position: relative;
    border: 1px solid #c3c3c3;
    background:grey;
}

.youtobe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtobe_banner__description{
    font-weight: bold;
    font-size: 22px;
}

.types_holidays{
    width: 1112px;
    margin: 0 auto;
    padding-top: 60px;
}

.types_holidays__title{
    font-weight: 600;
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.types_holidays__description{
    font-weight: normal;
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: #5a5a5a;
    padding-top: 6px;
}

.types_holidays__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 46px;
}

.types_holidays__item_title{
    font-weight: 600;
    font-size: 18px;
    color: #494949;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.types_holidays__item_time{
    font-weight: 500;
    font-size: 14px;
    color: #90939B;
    width: 100%;
    text-align: center;
}

.types_holidays__item_price{
    font-weight: 500;
    font-size: 12px;
    color: #494949;
    width: 100%;
    text-align: center;
}

.types_holidays__item_price span{
    font-size: 24px;
    color: #ff5040;
    font-weight: 600;
}

.types_holidays__item_img{
    margin: 0 auto;
}

.types_holidays__item_img.hit{
    background-image: url(../images/types-holidays/hit.png);
    width: 128px;
    height: 183px;
    background-size: cover;
}

.types_holidays__item_img.optima{
    background: url('../images/types-holidays/optima.png');
    width: 134px;
    height: 183px;
    background-size: cover;
}
.types_holidays__item_img.maximum{
    background: url('../images/types-holidays/maximum.png');
    width: 147px;
    height: 183px;
    background-size: cover;
}
.types_holidays__item_img.allinclusive{
    background: url('../images/types-holidays/allinclusive.png');
    width: 186px;
    height: 183px;
    background-size: cover;
}

.types_holidays__item{
    flex:1 1 auto;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 40px 0;
}

.types_holidays__item:hover{
    border: 1px solid #CDCFD8;
}

.types_holidays__ul{
    min-height: 270px;
    width: 100%;
    padding: 0;
}

.types_holidays__li{
    color: #000000;
    font-weight: normal;
    font-size: 12px;
    line-height: 191%;
    list-style-type: none;
    padding: 0 0 0 19px;

}

.types_holidays__li.circle::before{
    color: #5e5e5e; /* Цвет маркера */
    content: "●"; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
}

.grey{
    background: #EEEEEE;
}

.types_holidays__btn{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background: #FDD700;
    border-radius: 105px;
    color: #000000;
    width: 180px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
}

.types_holidays__btn:hover{
    background: red;
    color: #ffffff;
}

.no-circle{
    height: 22px;
}

.white{
    height: 44px;
}

.additional_section{
    width: 100%;
}

.additional_section__slider{
    color: #000;
    display: flex;
    width: 500px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.additional_section__slider_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.additional_section__title{
    padding:80px 0 50px 0;
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.additional_section__slider_title{
    font-weight: bold;
    font-size: 18px;
}

.additional_section__slider_description{
    font-weight: 500;
    font-size: 14px;
}

.additional_section__slider_price{
    background: #F9D045;
    border-radius: 36px;
    height: 33px;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
}

.swiper-container{
    width: 1300px;
    height: 340px;
}

.swiper-slide__container{
    display: flex;
    flex-wrap: wrap;
    width: 1112px!important;
    margin: 0 auto;
    justify-content: space-around;

}

.additional_btn{
    width: 200px;
    margin: 0 auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #F10000;
    border-radius: 105px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}

.additional_btn:hover{
    background: #d00000;
}

.quests_section__title{
    color: #000;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 166.19%;
    padding: 80px 0 30px 0;
}

.quests_section__container{
    display: flex;
    flex-wrap: wrap;
}

.quests_section__quest{
    width: 370px;
    height: 270px;
    position: relative;
}

.quests_section__quest_image{
    width: 100%;
    height: 100%;
    position: absolute;
}

.quests_section__quest_age{
    position: absolute;
    right: 12px;
    top: 18px;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    color: #ff4632;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quests_section__quest_title{
    position: absolute;
    left: 18px;
    bottom: 92px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 168.19%;
}

.quests_section__quest_buttons{
    position: absolute;
    left: 18px;
    bottom: 48px;
    display: flex;
    width: calc(100% - 34px);
    justify-content: space-between;
}

.quests_section__btn.details{
    width: 200px;
    height: 36px;
    background: #F10000;
    border-radius: 106px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.quests_section__btn.launzh{
    width: 92px;
    height: 36px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 106px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.quests_section__quest_address{
    position: absolute;
    bottom: -4px;
    padding: 5px 0px 0 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.37);
    width: calc(100% - 34px);
    left: 17px;
    display: flex;
    height: 35px;
    justify-content: space-between;
    font-size: 14px;

}

.quest_address__street_container{
    display: flex;
}

.quest_address__street_icon{
    background: url('../images/icons/street.png')no-repeat;
    width: 17px;
    height: 13px;
    margin-top: 2px;
}

.quest_address__subway_container{
    display: flex;
}

.quest_address__subway_icon{
    background: url('../images/icons/subway.png')no-repeat;
    width: 19px;
    height: 13px;
    margin-top: 2px;

}

.quests_section__quest_overlay{
    width: 349px;
    height: 267px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(50, 6, 6, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
    border-radius: 10px;
    bottom: 8px;
    left: 11px;
}



